@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    text-align: center;
    position:relative;
    background-color: rgb(45, 41, 49);
    color:white;
    font-family: 'Montserrat','italy';
    height:100%;
    overflow-x: hidden;
}
body{
    opacity:0%;
    height:100vh;
    width:100vw;
    margin:0px;
    transition:background-position 15s linear;
    background: url("https://media.tenor.com/iPKa5SFvaKAAAAAi/touhou-cirno.gif");
    background-repeat:repeat;
    background-size:15em;
}
select
{
    font-size:1em;
    text-align: center;
    margin:6px 0px;
    background-color:rgba(255,255,255,0.5);
    border:2px solid white;
    border-radius:16px;
    padding:4px;
    color:black;
    width:100%;
}
option
{
    background-color:black;
}
button{
    cursor: pointer;
    font-size: large;
    padding:8px 32px;
    margin-top:0.2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:16px;
    border:2px solid transparent;
    transition:0.5s ease;
}
input{
    font-size: large;
    margin-top:0.2em;
    padding:8px 32px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:16px;
    border:2px dotted white;
    transition:0.5s ease ;
}
input:hover{
    color:white;
    border:2px dotted white;
    background-color: rgba(0, 0, 0, 0.8);
}
.buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    position:absolute;
    bottom:32px;

}
.bottombtn
{
    font-size: large;
    width:1em;
    margin:0px 4px;
    border-radius:0px;
    background-color:transparent;
}
.bottombtn:hover{
    filter: invert(1);
    filter: drop-shadow(1px 1px 1px);
    background-color:transparent;
    border:0px solid transparent;
}
.inbuttonimg{
    width:5em;
    height:5em;
    max-height:100%;
    max-width:1.6em;
    margin-top:-4px;
    margin-left:-14px;
}
.interactive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align:sub;
    margin-top:20vh;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:20%;
}
.Product
{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding:16px;
    margin:8px;
    border-radius:16px;
    background-color:rgba(255, 255, 255, 0.5);
    background-size:70%;
    background-repeat: no-repeat;
    background-position-x: center;
}
.bottom{
    position: absolute;
    display: flex;
    background-color:white;
    justify-content: left;
    width:100vw;
    height:3em;
    bottom:0px;
    /* background-color:rgba(0, 0, 0, 0.8); */
}
.appname{
    margin-top:2%;
    font-size: large;
}
.title{
    margin:0px;
    font-size: 2.5em;
}