@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    text-align: center;
    position:relative;
    background-color: rgb(45, 41, 49);
    color:white;
    font-family: 'Montserrat','italy';
    height:100%;
    overflow: hidden;
}
body{
    opacity:0%;
    height:100vh;
    width:100vw;
    margin-left:0px;
    margin-top:0px;
    transition:1s ease-in-out;
    background: url("https://preview.redd.it/does-anyone-have-a-better-yuyuko-fumo-png-i-downloaded-this-v0-eiiyperewbid1.png?auto=webp&s=0380e9626a84b386496b8b350e5efa1029bf3127");
    background-repeat:repeat;
    background-size:15em;
}
button{
    cursor: pointer;
    font-size: large;
    padding:8px 32px;
    margin-top:0.2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:16px;
    border:2px solid transparent;
    transition:0.5s ease ;
}
button:hover{
    color:white;
    border:2px dotted white;
    background-color: rgba(0, 0, 0, 0.8);
}
input{
    font-size: large;
    margin-top:0.2em;
    padding:8px 32px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:16px;
    border:2px dotted white;
    transition:0.5s ease ;
}
input:hover{
    color:white;
    border:2px dotted white;
    background-color: rgba(0, 0, 0, 0.8);
}
.buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    position:absolute;
    bottom:32px;

}
.interactive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align:sub;
    margin-top:20vh;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:20%;
}
.bottom{
    position: absolute;
    display: flex;
    border-top: 2px solid white;
    justify-content: left;
    width:100vw;
    height:5%;
    bottom:0px;
    backdrop-filter:blur(16px);
    /* background-color:rgba(0, 0, 0, 0.8); */
}
.appname{
    margin-top:2%;
    font-size: large;
}
.title{
    margin:0px;
    font-size: 2.5em;
}